@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 400;
  src: url(https://web.archive.org/web/20211121023018im_/https://fonts.gstatic.com/s/droidsans/v12/SlGVmQWMvZQIdix7AFxXkHNSaA.ttf) format('truetype');
}
@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 700;
  src: url(https://web.archive.org/web/20211121023018im_/https://fonts.gstatic.com/s/droidsans/v12/SlGWmQWMvZQIdix7AFxXmMh3eDs1Yg.ttf) format('truetype');
}

/*
     FILE ARCHIVED ON 02:30:18 Nov 21, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 01:58:10 Dec 16, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.5
  exclusion.robots: 0.013
  exclusion.robots.policy: 0.005
  esindex: 0.009
  cdx.remote: 7.829
  LoadShardBlock: 214.101 (3)
  PetaboxLoader3.datanode: 258.91 (5)
  load_resource: 256.351 (2)
  PetaboxLoader3.resolve: 110.154 (2)
*/