@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 300;
  src: url(https://web.archive.org/web/20211121023018im_/https://fonts.gstatic.com/s/oxygen/v10/2sDcZG1Wl4LcnbuCJW8zaGW8.ttf) format('truetype');
}
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  src: url(https://web.archive.org/web/20211121023018im_/https://fonts.gstatic.com/s/oxygen/v10/2sDfZG1Wl4LcnbuKjk0j.ttf) format('truetype');
}
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 700;
  src: url(https://web.archive.org/web/20211121023018im_/https://fonts.gstatic.com/s/oxygen/v10/2sDcZG1Wl4LcnbuCNWgzaGW8.ttf) format('truetype');
}

/*
     FILE ARCHIVED ON 02:30:18 Nov 21, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 01:58:10 Dec 16, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.644
  exclusion.robots: 0.02
  exclusion.robots.policy: 0.008
  esindex: 0.009
  cdx.remote: 13.575
  LoadShardBlock: 197.049 (3)
  PetaboxLoader3.datanode: 320.74 (5)
  PetaboxLoader3.resolve: 135.726 (3)
  load_resource: 363.273 (2)
*/