#dc_jqmegamenu_widget-3-item {font: normal 13px Arial, sans-serif; line-height: 16px;}
#dc_jqmegamenu_widget-3-item ul, #dc_jqmegamenu_widget-3-item ul, #dc_jqmegamenu_widget-3-item ul li {margin: 0; padding: 0; border: none;}
#dc_jqmegamenu_widget-3-item ul.menu {background: #222 url(/web/20211121023024im_/https://www.woodworks.org/wp-content/plugins/jquery-mega-menu/skins/images/bg_green.png) repeat-x 0 -80px; width: 100%; height: 40px; border-right: 1px solid #94cd0b; border-left: 1px solid #94cd0b; position: relative;}
#dc_jqmegamenu_widget-3-item ul li {float: left; margin: 0; padding: 0; font-size: 13px; font-weight: bold;}
#dc_jqmegamenu_widget-3-item ul li a {float: left; display: block; color: #000; padding: 12px 38px 12px 25px; background: url(/web/20211121023024im_/https://www.woodworks.org/wp-content/plugins/jquery-mega-menu/skins/images/bg_green.png) repeat-x 100% 0; text-shadow: 1px 1px 1px #fff; text-decoration: none;}
#dc_jqmegamenu_widget-3-item ul li a.dc-mega {position: relative;}
#dc_jqmegamenu_widget-3-item ul li a .dc-mega-icon {display: block; position: absolute; top: 18px; right: 15px; width: 8px; height: 6px; background: url(/web/20211121023024im_/https://www.woodworks.org/wp-content/plugins/jquery-mega-menu/skins/images/arrow.png) no-repeat 0 100%;}
#dc_jqmegamenu_widget-3-item ul li.mega-hover a, #dc_jqmegamenu_widget-3-item ul li a:hover {background-position: 100% -40px; color: #000; text-shadow: none;}
#dc_jqmegamenu_widget-3-item ul li.mega-hover a .dc-mega-icon {background-position: 0 100%;}
#dc_jqmegamenu_widget-3-item ul li .sub-container {position: absolute; background: url(/web/20211121023024im_/https://www.woodworks.org/wp-content/plugins/jquery-mega-menu/skins/images/bg_sub_left.png) no-repeat 0 100%; padding-left: 20px; margin-left: -3px;}
#dc_jqmegamenu_widget-3-item ul li .sub {background: url(/web/20211121023024im_/https://www.woodworks.org/wp-content/plugins/jquery-mega-menu/skins/images/bg_sub.png) no-repeat 100% 100%; padding: 20px 20px 20px 10px;}
#dc_jqmegamenu_widget-3-item ul li .sub-container.mega .sub {padding: 20px 20px 10px 0;}
#dc_jqmegamenu_widget-3-item ul.full-width li .sub-container.mega .sub {margin-right: -2px;}
#dc_jqmegamenu_widget-3-item ul li .sub .row {width: 100%; overflow: hidden; clear: both;}
#dc_jqmegamenu_widget-3-item ul li .sub li {list-style: none; float: none; width: 170px; font-size: 1em; font-weight: normal;}
#dc_jqmegamenu_widget-3-item ul li .sub li.mega-hdr {margin: 0 10px 10px 0; float: left;}
#dc_jqmegamenu_widget-3-item ul li .sub li.mega-hdr.last {margin-right: 0;}
#dc_jqmegamenu_widget-3-item ul li .sub a {background: none; border: none; text-shadow: none; color: #111; padding: 7px 10px; display: block; float: none; text-decoration: none; font-size: 0.9em;}
#dc_jqmegamenu_widget-3-item ul li .sub li.mega-hdr a.mega-hdr-a {padding: 5px 5px 5px 15px; margin-bottom: 5px; background: #A1C81E url(/web/20211121023024im_/https://www.woodworks.org/wp-content/plugins/jquery-mega-menu/skins/images/bg_mega_hdr.png) no-repeat 0 0; text-transform: uppercase; font-weight: bold; color: #000; text-shadow: 1px 1px 1px #fff;}
#dc_jqmegamenu_widget-3-item ul li .sub li.mega-hdr a.mega-hdr-a:hover {color: #fff; text-shadow: none;}
#dc_jqmegamenu_widget-3-item ul .sub li.mega-hdr li a {padding: 4px 5px 4px 20px; background: url(/web/20211121023024im_/https://www.woodworks.org/wp-content/plugins/jquery-mega-menu/skins/images/arrow_off.png) no-repeat 5px 8px; font-weight: normal;}
#dc_jqmegamenu_widget-3-item ul .sub li.mega-hdr li a:hover {color: #a32403; background: #efefef url(/web/20211121023024im_/https://www.woodworks.org/wp-content/plugins/jquery-mega-menu/skins/images/arrow_on.png) no-repeat 5px 8px;}
#dc_jqmegamenu_widget-3-item ul .sub ul li {padding-right: 0;}
#dc_jqmegamenu_widget-3-item ul li .sub-container.non-mega .sub {padding: 20px 20px 20px 0;}
#dc_jqmegamenu_widget-3-item ul li .sub-container.non-mega li {padding: 0; width: 190px; margin: 0;}
#dc_jqmegamenu_widget-3-item ul li .sub-container.non-mega li a {padding: 7px 5px 7px 22px; background: url(/web/20211121023024im_/https://www.woodworks.org/wp-content/plugins/jquery-mega-menu/skins/images/arrow_off.png) no-repeat 7px 10px;}
#dc_jqmegamenu_widget-3-item ul li .sub-container.non-mega li a:hover {color: #a32403; background: #efefef url(/web/20211121023024im_/https://www.woodworks.org/wp-content/plugins/jquery-mega-menu/skins/images/arrow_on.png) no-repeat 7px 10px;}
/*
     FILE ARCHIVED ON 02:30:24 Nov 21, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 01:58:13 Dec 16, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.711
  exclusion.robots: 0.028
  exclusion.robots.policy: 0.012
  esindex: 0.01
  cdx.remote: 62.802
  LoadShardBlock: 133.471 (3)
  PetaboxLoader3.datanode: 260.346 (6)
  load_resource: 654.105 (2)
  PetaboxLoader3.resolve: 376.224 (2)
  loaddict: 211.035
*/