/* stop some themes from messing up Google Maps' styling (e.g. twentyeleven, twentytwelve, twentythirteen...) */
/* https://flexible-map.webaware.net.au/ */

.flxmap-container * {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

.flxmap-container img {
	max-width: none !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
	background-color: transparent !important;
	border-radius: 0px !important;
}

.site-content .flxmap-directions img.adp-marker,
.entry-content .flxmap-directions img.adp-marker {
	max-width: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.flxmap-directions table.adp-placemark,
.flxmap-directions table.adp-directions {
	table-layout: inherit;
}

.flxmap-directions td.adp-text {
	vertical-align: middle;
}

/* some basic styling for info window */

.gm-style .gm-style-iw .flxmap-infowin {
	color: #2c2c2c;
}

.gm-style .gm-style-iw .flxmap-marker-title {
	font-weight: bold;
}

/* fix info window width on some Webkit browsers */
.gm-style-iw {
	min-width: intrinsic;
	min-width: -webkit-fit-content;
	min-width: -moz-fit-content;
	min-width: fit-content;
}

/* fix info window title width on IE10+ */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {

	.gm-style .gm-style-iw .flxmap-marker-title {
		white-space: nowrap;
		word-wrap: normal;
	}

}

/* fix vertical copyright message on IE8 in some themes */
.flxmap-container .gm-style-cc > div {
	word-wrap: normal;
}

/*
     FILE ARCHIVED ON 02:30:24 Nov 21, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 01:58:11 Dec 16, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.514
  exclusion.robots: 0.015
  exclusion.robots.policy: 0.006
  esindex: 0.008
  cdx.remote: 28.775
  LoadShardBlock: 283.248 (3)
  PetaboxLoader3.resolve: 362.805 (5)
  PetaboxLoader3.datanode: 479.305 (6)
  load_resource: 568.918 (2)
  loaddict: 100.711
*/