.wpfts-result-item .wpfts-not-found
{
	color:#808080;
	font-size:0.9em;
}
.wpfts-result-item .wpfts-score
{
	color:#006621;
	font-size:0.9em;
}
.wpfts-shift
{
	margin-left: 40px;
}
.wpfts-result-item .wpfts-download-link
{
	color:#006621;
	font-size:0.9em;
}
.wpfts-result-item .wpfts-file-size
{
	color:#006621;
	font-size:0.9em;
}

/*
     FILE ARCHIVED ON 02:30:41 Nov 21, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 01:58:10 Dec 16, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.723
  exclusion.robots: 0.022
  exclusion.robots.policy: 0.008
  esindex: 0.019
  cdx.remote: 8.466
  LoadShardBlock: 101.061 (3)
  PetaboxLoader3.datanode: 190.24 (6)
  load_resource: 581.597 (2)
  PetaboxLoader3.resolve: 461.396 (2)
  loaddict: 45.951
*/